body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    -webkit-app-region: drag;
    background-color: pink;
}

button {
    -webkit-app-region: no-drag;
}

* { 
    box-sizing: border-box;
}